<span style="display: table;width:475px;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px" markdown=1>
<a> ![{{ include.description }}]({{ include.url }}/hamm.jpg){:width="421px" style="margin-top: 10px; margin-bottom: 20px; margin-left: 0px; margin-right: 40px; border-width:0; max-width:100%; position:relative;"} </a>
<span style="display: table-caption; caption-side: bottom; font-size: 90%; margin-top: -20px; margin-bottom: 20px; text-align: center;" class="wsite-caption">{{ include.description }}</span></span>
