---
---

@import "minima";


.wrapper {
    max-width: initial;
}

.column2 {
  float: left;
  width: 50%;
  text-align: center;
}

.column3 {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
